gamlogger>=0.9.0
pyodbc~=4.0.31
geopy~=2.2.0
shapely~=1.8
wheel~=0.36.2

# Exported to separate repo as per PEP
# # For web funcitonality
# flask~=2.0.1
# # gunicorn~=20.1 # gunicorn is not supported on Windows
# waitress~=2.0
# sqlalchemy
# flask-sqlalchemy
